.box {
  width: 100px;
  height: 100px;
  background-color: #000;
  cursor: pointer;
}
.demo_2:hover {
  animation: move 2s ease-in-out 1 alternate forwards 0.2s;
}
.demo_2 .cell {
  background-color: #f00;
}
@keyframes move {
  10% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(100px);
  }
}
.demo_3 {
  border-radius: 50%;
  animation: jump 2s linear infinite;
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(200px);
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  50% {
    transform: translateY(210px);
    clip-path: ellipse(50% 45% at 50% 45%);
  }
  60% {
    transform: translateY(200px);
    clip-path: ellipse(50% 45% at 50% 45%);
  }
  100% {
    transform: translateY(0px);
    clip-path: ellipse(50% 45% at 50% 45%);
  }
}
