<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>to do list- vue+express</title>
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>
  <body>
    <div id="app">
        oath-login<br/>
      <a href="/api/github/login">github登录</a><br/>
      login-token<br />
      <input v-model="name" />
      <input v-model="pwd" />
      <button @click="login">login</button>
      <button @click="loginout">loginOut</button>
      <button @click="clear">clearLog</button>
      <button @click="getInfo">getUserInfo</button>
      <div>{{JSON.stringify(log)}}</div>

    </div>
    <script>
      axios.interceptors.request.use(
        config => {
          const token = window.localStorage.getItem("token");
          if (token) {
            // 判断是否存在token，如果存在的话，则每个http header都加上token
            // Bearer是jwt的认证头部信息
            config.headers.common["Authorization"] = "Bearer " + token;
          }
          return config;
        },
        err => {
          return Promise.reject(err);
        }
      );

      axios.interceptors.response.use(
        response => {
          // console.log(response, "response");
          app.log.push(JSON.stringify(response.data));
          return response;
        },
        err => {
          app.log.push(JSON.stringify(response.data));
          return Promise.reject(err);
        }
      );
    </script>
    <script>
      const host = "http://localhost:3001/api";
      const app = new Vue({
        el: "#app",
        data: {
          name: "",
          pwd: "",
          log: []
        },
        created() {
          // console.log(window.location.search)
          // const token = window.location.search.split('=')[1]
          // console.log(token)
          // if(token){
          //   window.localStorage.setItem("token",token);
          // }

          const token = document.cookie
          console.log(token,'token')
          // console.log(document.cookie.split('=')[1].split(';')[0],'document.cookie')
          // const token = document.cookie.split('=')[1].split(';')[0]
          //  if(token){
          //   window.localStorage.setItem("token",token);
          // }
        },
        methods: {
          login: async function() {
            console.log(this.name, "this.name");
            let res = await axios.post(host + "/login-token", {
              name: this.name,
              pwd: this.pwd
            });
            window.localStorage.setItem("token", res.data.token);
          },
          loginout: async function() {
            window.localStorage.removeItem("token");
            // document.cookie=token = ''; expires = '2019-12-16T08:56:52.651Z';
            document.cookie="token=; expires =2019-11-16T08:56:52.651Z";


          },
          getInfo: async function() {
            console.log(12);
            let res = await axios.get(host + "/info-token");
          },
          clear: async function() {
            this.log = [];
          }
        },
        mounted: function() {
          this.getInfo();
        }
      });
    </script>
  </body>
</html>
