#app{
  /* max-width: 750px; */
  margin: 0 auto;
}
.header{
  width:100%;
  height:5.24rem;
}
.btn{
  width:5.4rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  background-color: #FFFFFF;
  border: none;
  border-radius:.5rem;
  color:#4f0b94;
  font-size: .34rem;
}
.btn-primary{
  background-color: #bfc3fd;
  color: #4f0b94;
}
