// Theme Variables

//======== 【Btn】 ========
$btn-group-padding = 12px 9px
$btn-bg-primary = #0082FF
$btn-bg-warning = #FFB400
$btn-bg-danger = #EF4F4F
$btn-bg-hollow = #FFF
$btn-bg-disabled = #CCC
$btn-color-default = #FFF
$btn-color-hollow = #626B77
$btn-color-disabled = #F0F0F0
$btn-border-hollow = #EBEBEB
$btn-height-large = 40px
$btn-width-small = 90px
$btn-height-small = 30px
$btn-width-mini = 40px
$btn-height-mini = 22px
$btn-font = 15px
$btn-font-large = 17px
$btn-font-mini = 13px
$btn-radius = 4px
$btn-radius-circle = 100px
$btn-padding = 0 5px
$btn-marginTop = 12px
$btn-marginLeft = 9px

// ======== 【DateTime】 ========
$datetime-content-height = 280px
$datetime-item-height = 40px
$datetime-item-font = 17px
$datetime-item-font-active = 22px

// ======== 【SelectPicker】 ========
$selectpicker-content-height = 200px
$selectpicker-item-height = 40px
$selectpicker-item-font = 17px
$selectpicker-item-font-active = 24px