@import './_variables.styl'

// 主题颜色
$color-blue = #0082FF
$color-green = #3BBD5E
$color-black = #282828
$color-orange = #FFA43D
$color-red = #EA4335

// 辅助颜色
$color-fail = #440011
// $color-success:
// $color-warning:
// $color-info:

// 文本颜色
$color-main-text = #333
$color-sub-text = #626B77
$color-desc-text = #999FAA

// 线条颜色
$color-border = #EBEBEB

// 背景颜色
$color-bg-page = #F6F6F9

// 文本尺寸
$size-main-text = 17px
$size-sub-text = 15px
$size-desc-text = 13px