@import './_var.styl'
@import './_mixin.styl'
@import './_transition.styl'
// 使用 px 转 vm 功能的副作用    问题：content会引起部分浏览器下，图片不会显示 所以要加该样式
img{
  content: initial !important;
}
// 清除浮动
.u-clearfix
  clearfix()
// 隐藏滚动条
.u-hide-scroll
  hide-scrollbar()
// iconfont
.u-iconfont
  iconfont()
// 1px 边框
.u-border-1px
  border-1px(all)
.u-border-bottom-1px
  border-1px(bottom)
.u-border-top-1px
  border-1px(top)
.u-border-left-1px
  border-1px(left)
.u-border-right-1px
  border-1px(right)
// 超过省略号
.u-ellipsis
  ellipsis()
.u-ellipsis-2
  ellipsis(2)
.u-ellipsis-3
  ellipsis(3)