* {
  padding: 0;
  margin: 0;
}

.ft17 {
  font-size: 17px !important;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #efefef;
  box-sizing: border-box;
  overflow: hidden;
}
/* header */
.header {
  width: 100%;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
  /* padding: 0px 80px; */
  padding: 0px 40px 0px 80px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.title_left {
  width: 200px;
  height: 44px;
}
.title_right {
  width: 100px;
  height: 44px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.title_msg {
  width: 190px !important;
  font-size: 14px;
  font-weight: 400;
}

.title_msg_name {
  width: 170px !important;
  font-size: 14px;
  font-weight: 400;
  font-size: 17px !important;
  display: inline-block;
  color: #fff;
  margin: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.badge {
  position: relative;
  left: -2px;
  /* top: 3px; */
}

.badge_title_msg {
  position: relative;
  top: -4px;
  right: 0px;
  cursor: pointer;
}

.turnT {
  top: -10px;
}

.title_avatar {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  /* left: 10px; */
}
.title_islogin {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 50px;
  cursor: pointer;
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* 主视图 */
.index-box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.indexBox {
  width: 80%;
  min-width: 800px;
  min-height: 500px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

/* 主视图 左侧 */
.left_menu {
  width: 440px;
  height: 100%;
}

.pack_up_menu {
  width: 50px;
  height: 100%;
}

.menu_title {
  position: relative;
  height: 68px;
  background: #2e2e2e;
  padding: 0 16px;
  border-bottom: 1px solid #666;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.menu_title .menu_icon {
  position: absolute;
  right: 19px;
  cursor: pointer;
}

.name {
  position: relative;
  top: 5px;
  display: inline-block;
  color: #fff;
  max-width: 100px;
  margin: 3px 1px 9px 15px;

  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 14px;
}

.unread_name {
  max-width: 90px;
  margin: 15px;
}

.unread_message {
  position: absolute;
  top: 34px;
  right: 16px;
  color: #eee;
  width: 100px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu_icon {
  width: 18px;
  height: 18px;
}

/* 主视图 右侧 */
.right_content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* 聊天列表 */
.chart_list {
  height: calc(100% - 67px);
  overflow: auto;
  background-color: #3d3d3d;
}

.chart_list_item {
  height: 68px;
  background: #3d3d3d;
  padding: 10px 13px;
  border-bottom: 1px solid #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.active_chart_list_item,
.chart_list_item:hover {
  background: #2e2e2e;
}

.last_time {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #999;
  font-size: 12px;
  line-height: 20px;
}

/* 右侧区域 */
.right_header {
  height: 64px;
  border-bottom: 1px solid #ebebeb;
  padding-left: 24px;
  line-height: 64px;
  color: #3d3d3d;
  font-size: 16px;
  background-color: #fff;
  padding-left: 24px;
}
.right_name {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.right_chart_container {
  position: relative;
  box-sizing: border-box;
  height: 436px;
  overflow: hidden scroll;
  margin-right: -5px;
  /* background-color: orange; */
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.backmsg_bottom {
  position: absolute;
  right: 50px;
  bottom: 220px;
  width: 104px;
  height: 32px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  border: 1px solid #ebebeb;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #3399ea;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 2px;
}

.backmsg_bottom_icon {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.right_chart_footer {
  padding: 0px 10px;
  box-sizing: border-box;
}

.utils {
  height: 34px;
}

.utils img {
  width: 100%;
  height: 40px;
  object-fit: contain;
}

.input_content {
  position: relative;
  margin-right: 2px;
  font: 14px/1.5 Helvetica, Arial, Tahoma, 微软雅黑;
  width: 100%;
  top:10px;
  height: 136px;
  outline: none;
  background: #fff;
  border: 0 none;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  vertical-align: middle;
  display: inline-block;
}
.show_text {
  height: 40px;
  text-align: right;
  padding: 0 24px;
  line-height: 40px;
  font-size: 12px;
  color: #ccc;
}

/* 聊天区域 */

.message_list_area {
  padding: 10px 24px;
  width: 100%;
  box-sizing: border-box;
}

.message_list_item {
  /* display: flex; */
  overflow: hidden;
  padding: 8px 0;
}
.header_data_time {
  text-align: center;
  font-size: 12px;
  color: #999;
  padding-bottom: 8px;
  height: 22px;
}

.msg_area_container {
  display: flex;
}
.msg_area_row_reverse {
  flex-direction: row-reverse;
}

.msg_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  float: left;
  cursor: pointer;
}

.message_area {
  float: left;
  line-height: 24px;
  padding: 8px 16px;
  max-width: 424px;
  font-size: 14px;
  color: #8b4513;
  background: #f5f6f7;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 8px;
  word-break: break-word;
  position: relative;
  white-space: pre-wrap;
  margin: 0px 15px;
}

.el-dialog__wrapper {
  background-image: url(../image/bg.jpg);
  background-size: 100% 100%;
}

/* 去掉radios  */
.login_container .el-radio__input {
  display: none;
}

/* 右上角的消息 */
.item_el_badge {
  position: absolute;
  top: 9px;
  right: 5px;
}

.el-dropdown {
  left: 20px;
}

.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.el-icon-arrow-down {
  font-size: 12px;
}

.el-popover {
  padding: 6 !important;
}

.el-badge__content {
  position: absolute;
  top: 8px;
  right: 7px;
}

.is-fixed {
  position: absolute;
  top: 10px !important;
  right: 8px !important;
}

/* 正在输入 */
.is_input {
  position: absolute;
  font-size: 10px;
  right: 22px;
  top: 14px;
  color: #999;
}

/* 工具栏 */
.box-ft .toolbar {
  height: 30px;
  padding: 4px 0px;
}

.box-ft .toolbar .face {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url("../image/wechat-sprit.png") no-repeat -404px -398px;
}

.box-ft .toolbar .screen-cut {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url("../image/wechat-sprit.png") no-repeat -30px -432px;
}

.box-ft .toolbar .file label {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  background: rgb(255, 255, 255);
}

.box-ft .toolbar .file {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url("../image/wechat-sprit.png") no-repeat -120px -432px;
}
